<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679282233832-ngupkbo301vbsobrl2cfk6bdmar4uhtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679282233832-ngupkbo301vbsobrl2cfk6bdmar4uhtv</string>
	<key>API_KEY</key>
	<string>AIzaSyB6kMqIHNgDJnirqU6ZDBUMPl9PHqVAog8</string>
	<key>GCM_SENDER_ID</key>
	<string>679282233832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.avanssion.junction.WeFit</string>
	<key>PROJECT_ID</key>
	<string>avanssion-wefit</string>
	<key>STORAGE_BUCKET</key>
	<string>avanssion-wefit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679282233832:ios:e38cadf0cfe122ee9a545d</string>
	<key>DATABASE_URL</key>
	<string>https://avanssion-wefit.firebaseio.com</string>
</dict>
</plist>